* {
    margin: 0;
    padding: 0;
    align-self: center;
    font-family: 'Times New Roman';
}
html{
    scroll-behavior: smooth;
}
body {
    background-image: url("../images/bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.mybutton {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding: 10px 20px;
    background-color:rgb(108, 199, 255);
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #1abc9c;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .mybutton:hover {
    background-color: #1abc9c;
    color: #fff;
  }

.artist_chitra{
    background-image: url("../images/chitra_bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.dance {
    display: block;
    font-size: 48px;
    text-align: center;
    top: 100px;
    position: absolute;
    width: 100vw;
}

.dance span {
    color: white;
    z-index: -1;
    position: relative;
    padding: 20px 4vw;
    font-size: 5vw;
    display: inline-flex;
}

.header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    background: rgba(240, 107, 67, 0.747);
    padding: 15px 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    margin-left: 1vw;
}
.logo-link{
    text-decoration: none;
    color: #23ff1bee;
}
.navlist {
    display: flex;
    margin-right: 8vw;
    list-style: none;
    font-size: 20px;
}

.navelem {
    font-weight: 700;
    text-decoration: none;
    padding: 8px 1.5vw;
    margin-right: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(232, 255, 255);
    transition: .6 ease;

}


.active {
    border-bottom: 2px solid rgb(240, 17, 54);
}

.container {
    display: flex;
}


.footer {
    display: flex;
    padding: 20px 10vw;
    margin-top: 170px;
    background-color: rgb(135, 255, 209);
    justify-content: space-between;
}

.foot-list {
    display: flex;
}

.foot-list a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(60, 110, 247);
    padding: 0 3vw;
}

.foot-list a:hover {
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.top-headings {
    color: rgb(100, 248, 80);
    font-weight: 600;
    font-size: 2vw;
    margin-top: 60px;
    padding: 10vh 0 10vh 7vw;
}

.main-container {
    margin-top: 130px;
    margin-left: 3vw;
}

.artists-container {
    width: 94vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.art-img,
.art-img img {
    width: 16vw;
    height: 16vw;
    border-radius: 10px;
    border-radius: 50%;
}

.artist-individual {
    border-radius: 50%;
    
}

.art-img img:hover {
    transform: scale(1.2);
    opacity: 0.7;
    cursor: pointer;
    margin-top: -30px;
    border: 2px solid rgb(152, 247, 0);
    box-shadow: inset 4px 4px 25px 5px rgb(82, 247, 6);
    background-color: #e5e0e0;
    transition: .2s ease-in;
    animation: borderchange 2s ease-out infinite;
}
@keyframes borderchange {
    0%{
        box-shadow: 4px 4px 40px 5px gold; 
    }
    10%{
        box-shadow: 4px 4px 40px 5px rgb(254, 205, 103);
    }
    20%{
        box-shadow: 4px 4px 40px 5px rgb(204, 255, 23);
    }
    30%{
        box-shadow: 4px 4px 40px 5px rgb(254, 155, 203);
    }
    40%{
        box-shadow: 4px 4px 40px 5px rgb(204, 205, 53);
    }
    50%{
        box-shadow: 4px 4px 40px 5px rgb(154, 155, 133);
    }
    60%{
        box-shadow: 4px 4px 40px 5px rgb(154, 105, 3);
    }
    70%{
        box-shadow: 4px 4px 40px 5px rgb(104, 105, 223);
    }
    80%{
        box-shadow: 4px 4px 40px 5px rgb(54, 155, 153);
    }
    90%{
        box-shadow: 4px 4px 40px 5px rgb(204, 05, 73);
    }
    100%{
        box-shadow: 4px 4px 40px 5px rgb(4, 5, 103);
    }
    
}

.hid-details {
    color: rgba(255, 255, 255, 0.959);
    pointer-events: none;
    position: relative;
    text-align: center;
    font-size: 0.8vw;
    left: 0;
    right: 0;
    margin-top: 1vw;
    transition: .2s ease-in;
}

.art-img:hover~.hid-details {
    transform: scale(1.5);
    color: #ff7f7f;
    text-shadow: 1px 1px rgb(255, 255, 255);
    margin-top: -6vw;
}

