<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Share_Bro | Login </title>
  <link rel="stylesheet" href="../static/styles/register.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="big">
    <div class="container">

      <div class="cover">
        <div class="front">
          <img src="../static/images/anirudh_bg.jpeg" alt="">
          <div class="text">
            <span class="text-1">Sharing and Caring Is <br> Best You Can Give</span>
            <span class="text-2">A friend in Need is a friend indeed</span>
          </div>
        </div>

      </div>
      <div class="forms" style="padding: 50px 20px;">
        <div class="form-content" >
          <div class="login-form" >
            <div class="title">Login</div>
            <form method="POST" action="/login">
              <div class="input-boxes">
                <div class="input-box">
                  <input type="text" name="username" placeholder="Enter Username" required>
                </div>
                <div class="input-box">
                  <input type="password" name="password" placeholder="Enter your Password" required>
                </div>
                <div class="button input-box">
                  <input type="submit" value="Sumbit">
                </div>
                {% if error %}
                <h3 style="color:red;text-align: center;">Enter the Correct Credentials</h3>
                {% endif %}
                <br>
                <div class="text sign-up-text">Don't have an account? <a href="/signup" style="color:red;">Signup now</a></div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
</body>