.date{
    margin-left: 40vw;
}
.reviewbtn{
    color: rgb(0, 136, 255);
    background-color: rgba(240, 255, 255, 0.705);
    background: none;
    font-size: 1.2vw;
    padding: 0.1vw 1vw;
    margin-left: 35vw;
}
#toshow{
    height: 0px;
    overflow: hidden;
    transition: height 3s ease-in;
}
.shown{
    height: max-content;
    transition: height 3s ease-out;
}

.rate-stars{
    text-align: center;
    font-size: 35px;
}
.fa-star{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 200;
}
input[type=radio]{
    display: none;
}
#comment-box{
    margin: 2vw 14vw;
    width: 60vw;
    color: white;
    font-size: 20px;
    background: none;
    height: 10vh;
    padding: 20px;
    border-radius: 20px;
}
.submit-btn{
    color: rgb(255, 0, 0);
    font-size: 1.2vw;
    padding: 0 1vw;
    width: 23vw;
    margin-left: 15vw;
}
.flex{
    display: flex;
}
.countdown{
    font-size: 2.5vw;
    color: white;
}
#invisible{
    text-align: center;
    padding: 40px;
}