body{
    background: url(../images/bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.pagenav{
    margin-top: 120px;
    margin-left: 40px;
    color: aqua;
    
}
.pagenav a{
    color: hwb(46 7% 25%);
    text-decoration: none;
}
.pagenav a:hover{
    color: rgb(137, 196, 0);
}
.container-main{
    color: white;
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
}
.arouncenter{
    display: flex;
    justify-content: space-around;
}
.top-headings{
    margin-left: -6vw;
}
.artists-container {
    margin-left: -3vw;
}
.artist-img{
    width: 15vw;
    height: 15vw;   
    border-radius: 10%;
}
.details{
    display: flex;
}
.block{
    width: max-content;
    padding: 2vw;
}
.block h3{
    text-align: center;
 }
.det-content{
    line-height: 40px;
}
.side-head{
    margin-left: 2vw;
    padding: 3vw;
}
.songs-tab{
    width: 90vw;
}

.songs-tab td,th{
    text-align: center;
    padding: 1vw;
    border-bottom: solid 1px rgb(255, 255, 255);
}
.songs-tab tr:hover{
    transform: scaleY(1.2);
    background-color: rgba(41, 255, 13, 0.282);
    color: rgb(255, 209, 44);
}
.songs-tab th{
    pointer-events: none;
}
.songs-tab td:first-child,th:first-child{
    padding-right: 0;
}
.songs-tab td:nth-child(2),.songs-tab th:nth-child(2){
    text-align: left;
}
.songs-tab td a{
    text-decoration: none;
    color: inherit;
}
.songs-tab td a:hover{
    color: rgb(245, 197, 170);
    text-decoration: underline;
    text-transform: capitalize;
}
.full-det{
    padding: 35px;
    font-family: cursive;
    font-size: 23px;
    text-align: justify;
    text-indent: 6cm;
    line-height: 35px;
    background-color: rgb(214, 202, 202);
    color: rgb(70, 64, 64);
    border-radius: 20px;
    height: max-content;
}